@model IEnumerable< DoAnCNPM.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 style="text-align: center">Danh sách sản phẩm</h2>

<div class="container-fluid">
    <div class="row">
        @foreach(var pro in Model)
            {
            
                <div class="col-sm-6 col-sm-4 col-lg-3">
                    <div class="div-img-client">
                        <img src="@Url.Content(pro.ImageProduct)" height="200" width="150" />
                    </div>

                    <div class="div-des-client">
                        <p>@Html.DisplayFor(model => pro.ProductName)</p>
                        <p>@Html.DisplayFor(model => pro.Price)</p>

                    </div>
                </div>
            }
    </div>
</div>

