.product {
    padding: 100px 0;
}

.product-top {
    margin-bottom: 30px;
}

.product-content-row {
    display: flex;
    flex-direction: row;
}

.product-top-row {
    display: flex;
    flex-direction: row;
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 22px;
    padding: 20px;
}

    .product-top-row span {
        margin-top: 20px;
        margin-right: 20px;
    }

    .product-top-row p {
        margin-top: 20px;
        margin-right: 20px;
    }

.product-content-left-row {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.product-content-left-big-img {
    width: 60%;
    padding-right: 20px;
}

    .product-content-left-big-img img {
        border: 1px solid #7e7e7e;
        width: 80%;
    }

.product-content-left-small-img {
    width: 20%;
}

    .product-content-left-small-img img {
        border: 1px solid #7e7e7e;
        margin: 8px 0;
        width: 50%;
    }

.product-content-right-row {
    width: 30%;
}

.button-buy {
    border-radius: 35px;
    height: 50px;
    width: 220px;
}

.size {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

    .size button {
        box-shadow: 5px #7e7e7e;
        background-color: #fff;
        margin: 0 7px;
    }
